<template>
    <div class="container-fluid p-0">
            <topNavbar />
            <applyNowForm />
            <applyNowFooter />
    </div>
</template>
<script>
import ApplyNowForm from "../components/applyNow/Form.vue";
import Navbar from "../components/applyNow/Navbar.vue";
import Footer from "../components/applyNow/Footer.vue"

export default {
name:"ApplyNow",
components:{applyNowForm:ApplyNowForm, topNavbar:Navbar, applyNowFooter:Footer}
}
</script>
<style scoped>

</style>