<template>
  <div>
    <Navbar />
    <div class="container my-4">
      <h1 class="text-center">
        Thank You For Your Interest In Good Morning Teacher
      </h1>
      <p>
        We appreciate your submission to sub with us and want to do everything,
        we can to have you join our community. Currently, we do not operate in
        your state. However, if you feel that you are within driving distance
        and qualify for teaching jobs that are in a near state, Please reach out
        to our Support Team <a href="#">here</a> so that we can continue with
        your setup process.
      </p>
      <p>
        If you are'nt sure if you're closure to one of our operating areas,
        please check out our School Patner Region Maps location in our
        <a href="#">Support Center</a>.
      </p>
      <p>We look forward to hearing from you!</p>
      <p>- The Good Morning Teacher Team</p>
    </div>
  </div>
</template>
<script>
import Navbar from "../components/Navbar.vue";
export default {
  name: "Thank You!",
  components: {
    Navbar
  }
};
</script>
<style scoped>
.container h1 {
  font-family: "Lucky Fellas";
  font-size: 4rem;
}
</style>
