<template>
  <div class="footer-menu border-top py-4">
    <ul class="footer-menu-links d-flex justify-content-between">
      <li class="footer-menu-item">About</li>
      <li class="footer-menu-item">Privacy Policy</li>
      <li class="footer-menu-item">Terms Of Service</li>
      <li class="footer-menu-item">Contact Support</li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "Footer"
};
</script>
<style scoped>
.footer-menu-links {
  list-style: none;
  margin-left: 80px;
  /* width:350px; */
  width: 40%;
  flex-wrap: wrap;
}
</style>
