<template>
  <form class="apply-now-form">
    <h1 class="form-heading">
      Register to be a Good Morning Teacher Substitute Teacher
    </h1>
    <p class="form-content">
      Fill out this short form to help us connect you to the best substitute
      teaching opportunities in your area.
    </p>
    <div class="fields">
      <div class="form-group mt-4 pt-4">
        <label for="Email" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          v-model="firstName"
          name="email"
          id="email-input"
          aria-describedby="helpId"
          @change="
            firstName.length > 0 &&
            lastName.length > 0 &&
            phoneNo.length > 0 &&
            zipCode.length > 0
              ? (btnDisabled = false)
              : (btnDisabled = true)
          "
        />
      </div>
      <div class="form-group mt-4">
        <label for="Email" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          v-model="lastName"
          name="email"
          id="email-input"
          aria-describedby="helpId"
          @change="
            firstName.length > 0 &&
            lastName.length > 0 &&
            phoneNo.length > 0 &&
            zipCode.length > 0
              ? (btnDisabled = false)
              : (btnDisabled = true)
          "
        />
      </div>
      <div class="form-group mt-4">
        <label for="Email" class="form-label">Phone Number</label>
        <input
          type="text"
          class="form-control"
          v-model="phoneNo"
          name="email"
          id="email-input"
          aria-describedby="helpId"
          @change="
            firstName.length > 0 &&
            lastName.length > 0 &&
            phoneNo.length > 0 &&
            zipCode.length > 0
              ? (btnDisabled = false)
              : (btnDisabled = true)
          "
        />
      </div>
      <div class="form-group mt-4">
        <label for="Email" class="form-label"
          >Zip Code
          <span class="d-block" style="font-size:14px"
            >We'll show you schools in this area</span
          >
        </label>

        <input
          type="text"
          class="form-control"
          v-model="zipCode"
          name="email"
          id="email-input"
          aria-describedby="helpId"
          @change="
            firstName.length > 0 &&
            lastName.length > 0 &&
            phoneNo.length > 0 &&
            zipCode.length > 0
              ? (btnDisabled = false)
              : (btnDisabled = true)
          "
        />
      </div>
      <div class="submit-btn-group my-4 py-2">
        <button
          type="button"
          v-bind:disabled="btnDisabled"
          id="login-btn"
          v-bind:class="{
            btn: true,
            'btn-primary': true,
            'btn-lg': true,
            'btn-block': true,
            disabled: btnDisabled
          }"
        >
          Next
        </button>
      </div>
    </div>
  </form>
</template>
<script>
export default {
  name: "ApplyNowForm",
  data() {
    return {
      btnDisabled: true,
      firstName: "",
      lastName: "",
      phoneNo: "",
      zipCode: ""
    };
  }
};
</script>
<style scoped>
.apply-now-form {
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.apply-now-form .form-heading,
.apply-now-form .form-content {
  text-align: center;
  max-width: 380px;
  margin: 0 auto;
}
.form-heading {
  text-align: center;
  font-size: 26px;
  margin: 0 auto;
  font-weight: bold;
}
.form-content {
  padding: 10px 0;
  font-size: 20px;
  line-height: 22px;
}
.fields {
  width: 380px;
  /* min-width:280px; */
  margin: 0 auto;
}
.form-control {
  box-shadow: none;
  color: rgb(40, 60, 93);
  font-size: 18px;
  font-weight: 400;
  flex: 0 0 auto;
  max-width: 100%;
  padding: 13px 12px;
  appearance: none;
  border: 2px solid rgb(190, 197, 208);
  border-radius: 4px;
  height: 48px;
}
.form-control:focus {
  border-color: #0bb4c4;
}
.form-label {
  color: #283c5d;
  font-size: 18px;
  font-weight: 600;
}
#login-btn.disabled {
  opacity: 1;
  background-color: #e9e9e9 !important;
  color: #9b9b9b !important;
  cursor: default;
  pointer-events: all;
}

#login-btn {
  box-shadow: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: background-color 0.3s ease 0s;
  font-weight: 600;
  flex: 0 0 auto;
  /* width: 360px; */
  max-width: 100%;
  border: none;
  border-radius: 4px;
  height: 48px;
  background-color: #0bb4c4;
}

@media screen and (max-width: 360px) {
  .fields {
    max-width: 280px;
  }
}
</style>
